/* Body styles */
body {
    font-family: 'Arial', sans-serif;
}

/* Navbar styles */
.navbar {
    background-color: white;
}

.navbar-brand, .navbar-nav .nav-link {
    color: grey;
    /* Default text color for brand and nav links */
}

.customizedNav {
    font-size: 30px;
}

/* Header styles */
header {
    background-color: rgb(142, 136, 136);
    /* Medium gray background color */
    color: white;
    /* White text color */
    background-image: url("../images/02-portfolio-8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#work {
    margin-bottom: 5%;
}

.container .row {
    margin-top: 5%;
}

/* Button styles */
.btn-primary, .btn-outline-light {
    transition: box-shadow 0.3s ease;
    /* Add transition for a smooth effect */
}

.btn-primary {
    background-color: #007bff;
    /* Primary button color */
    border-color: #007bff;
}

.btn-outline-light {
    color: lightblue !important;
    /* Text color for light button */
}

.btn-outline-light:hover, .btn-primary:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Box shadow on hover for buttons */
}

/* Card styles */
.card {
    margin: 10px;
    /* Add some margin between cards */
}

/* Skill section styles */
.bsb-skill-1 {
    background-color: #f8f9fa;
    /* Light gray background color */
}

/* About me section styles */
.bg-secondary {
    background-color: #6c757d;
    /* Medium gray background color */
    color: white;
    /* White text color */
}

/* Footer styles */
footer {
    background-color: #f1f1f1;
    /* Light gray background color */
    color: #212529;
    /* Dark text color */
    padding: 20px 0;
    /* Add padding top and bottom */
}

/* Social media icon styles */
.btn-link {
    color: #212529 !important;
    /* Dark text color for social media icons */
}

.btn-link:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    /* Box shadow on hover for buttons */
}

/* Customized Image */
.customizedImage {
    background-image: url("../images/02-portfolio-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
